
@font-face {
    font-family: 'Conv_beefd';
    src: url('../fonts/beefd.eot');
    src: url('../fonts/beefd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/beefd.woff') format('woff'),
    url('../fonts/beefd.ttf') format('truetype'),
    url('../fonts/beefd.svg#Beefd') format('svg');
    font-weight: normal;
    font-style: normal;
}


@mixin setLinkSelectorStyle {
    &:hover, &:active, &:visited {
        @content;
    }
}

@media (max-width: 776px) {
  .menu-item {
    display: none !important;
  }
  .affix{
    width: 105% !important;
    height: 15vh !important;
  }
  #logo-site{
    width: 75vw;
  }
  #menubar{
    display: none;
  }
}