// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// $brand-primary: blueviolet;

$primary-blue: rgba(143,211, 244, 1) !default;
$primary-blue-light: rgba(143,211, 244, 0.5) !default;
$primary-green: rgba(132,250, 176, 1) !default;
$primary-green-light: rgba(132,250, 176, 0.5) !default;
$primary-gray:  rgba(237,240, 245, 1) !default;
$primary-gray-light:  #F8F9FB;
$primary-gray-dark: rgb(154, 155, 156) !default;
$primary-white: #F8F9FB;